<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My Website</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>

  <div class="top-bar">
    <div class="header">
      <a href="/index.html">
        <img src="fatgoose.webp" alt="Logo">
      </a>
      <h1>Title</h1>
    </div>
    <div class="nav-buttons">
      <a href="/whoami.html">Who am I?</a>
      <a href="/images.html">Images</a>
      <a href="/tenets.html">My 30 Tenets</a>
      <a href="/blog.html">blog</a>
    </div>
  </div>
  <div class="content">
    <div class="image-list img">
      <ul>
        {% assign image_files = site.static_files | where: "path", "/images" %}
        {% for file in site.static_files %}
        {% if file.path contains "/images/" %}
        <li><img src="{{ file.path }}" alt="{{ file.name | split: '.' | first }}"></li>
        {% endif %}
        {% endfor %}
      </ul>
  </div>
</div>
</body>
</html>